@font-face {
font-family:'Unicode';
src: url('https://cdn.rawgit.com/LeonarAung/MyanmarFont/d8368cca/myanmar3.woff') format('woff'), url('https://cdn.rawgit.com/LeonarAung/MyanmarFont/d8368cca/myanmar3.ttf') format('ttf');
}
html *
{    
   font-family: Unicode !important;
}
