@font-face {
font-family:'Zawgyi-One';
src: url('https://cdn.rawgit.com/LeonarAung/MyanmarFont/43a76630/zawgyi.woff') format('woff'), url('https://cdn.rawgit.com/LeonarAung/MyanmarFont/43a76630/zawgyi.ttf') format('ttf');
}

h1,p,h2,h3,h4,h5,h6,pre{    
   font-family: Zawgyi-One !important;
}
